= simple_nested_form_for @user, :html => { :class => "form-vertical" } do |f|
  .well
    header
      = f.text_field :first_name, :placeholder => 'Имя'
      | &nbsp;
      = f.text_field :last_name, :placeholder => 'Фамилия'

    .tabbable
      ul.nav.nav-tabs
        li.active=link_to 'Адрес', '#location-tab', :data => {:toggle => 'tab'}, :class => 'active'
        li=link_to 'Аватар', '#avatar-tab', :data => {:toggle => 'tab'}
        li=link_to 'Контакты', '#contacts-tab', :data => {:toggle => 'tab'}
        li=link_to 'Виды спорта', '#sport-tab', :data => {:toggle => 'tab'}
      .tab-content
        = render :partial => 'contacts', :locals => {:f => f}
        = render :partial => 'location', :locals => {:f => f}
        = render :partial => 'sport', :locals => {:f => f}
        = render :partial => 'avatar', :locals => {:f => f}

    .form-actions
      = link_to 'Сохранить изменения', 'submit', :class => 'btn btn-primary'
      | &nbsp;
      = link_to 'Отмена', user_path(@user), :class => 'btn btn-danger'
