.well
  header.page-header
    .row
      .span1
        = image_tag @user.existed_avatar, :alt => @user.name, :title => @user.name
      .span6
        h2= @user.name
      .span1
        - if can? :edit, @user
          = link_to 'Редактировать', edit_user_path(@user)
  section.row
    .span4
      strong Контакты
      dl
        dt Email
        dd= @user.email
        - @user.contacts.each do |c|
          dt= c.contact_type.name
          dd= c.value
    .span4
      strong Место обитания
      address= @user.address
      .yandex-map
      = add_location_to_map(@user.location)
      = add_location_to_map(current_user.try(:location))
