<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <a class="btn btn-navbar" data-target=".nav-collapse" data-toggle="collapse">
        <span class="i-bar"></span>
        <span class="i-bar"></span>
        <span class="i-bar"></span>
      </a>
      <%= link_to 'Neday', root_path, :class => 'brand' %>
      <div class="container nav-collapse">
        <%= render_navigation :context => :main %>
        <p class='navbar-text pull-right'>
          <% if user_signed_in? %>
            Привет, <%= link_to current_user.first_name, current_user %>
          <% else %>
            <%= link_to t('devise.form.sign_in'), new_session_path(:user) %>
          <% end %>
        </p>
      </div>
    </div>
  </div>
</div>
