<section class='content'>
  <header>
    <h1>Домашняя страница</h1>
  </header>
  <iframe width="540" height="315" src="http://www.youtube.com/embed/tGpD2rrki2E" frameborder="0" allowfullscreen></iframe>
  <p>
    Не дай погоде. Не дай лени. Не дай красоте. Не дай городу. Не дай тесноте. Не дай сомнениям. Не дай стереотипам. Не дай себя остановить!
    Хватит терять свое здоровье сидя за креслом. Хватит толстеть и деградировать!
  </p>
  <%= link_to login_new_path, :class => 'button' do %>
    <span>Присоединияйся!</span>
  <% end %>
</section>