= simple_form_for @event, :html => { :class => "form-vertical" } do |f|
  .well
    .page-header
      h1 Событие
    = f.input :duration
    = f.input :start_at
    = f.association :sport
    = f.simple_fields_for :place, f.object.place_or_build do |fp|
      = fp.input :name
      = fp.simple_fields_for :location, fp.object.location_or_build do |fl|
        = fl.input :address
    = f.input :max_number_members
    = f.input :note
    .form-actions
      = link_to 'Сохранить', 'submit', :class => 'btn btn-primary'
      | &nbsp;
      = link_to 'Отмена', user_path(current_user), :class => 'btn btn-danger'
