/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require twitter/bootstrap
 *= require_self
*/
body {
  padding-top: 60px;
}

.btn.custom {
  background-color: hsl(201, 89%, 23%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="hsl(201, 89%, 65%)", endColorstr="hsl(201, 89%, 23%)");
  background-repeat: repeat-x;
  background-image: -khtml-gradient(linear, left top, left bottom, from(hsl(201, 89%, 65%)), to(hsl(201, 89%, 23%)));
  background-image: -moz-linear-gradient(top, hsl(201, 89%, 65%), hsl(201, 89%, 23%));
  background-image: -ms-linear-gradient(top, hsl(201, 89%, 65%), hsl(201, 89%, 23%));
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, hsl(201, 89%, 65%)), color-stop(100%, hsl(201, 89%, 23%)));
  background-image: -webkit-linear-gradient(top, hsl(201, 89%, 65%), hsl(201, 89%, 23%));
  background-image: -o-linear-gradient(top, hsl(201, 89%, 65%), hsl(201, 89%, 23%));
  background-image: linear-gradient(hsl(201, 89%, 65%), hsl(201, 89%, 23%));
  border-color: hsl(201, 89%, 23%) hsl(201, 89%, 23%) hsl(201, 89%, 12.5%);
  color: #fff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.69);
  -webkit-font-smoothing: antialiased;
}