@import 'compass';
body {padding-top: 60px;background: image_url('bg.png');}
.hero-unit {
  p, h1 {text-align: center;}
  .like-buttons .item {float: left;}
  p .btn-large {padding: 14px 24px; font-size: 20px; font-weight: bold; @include border-radius(6px);}
}
.navbar-fixed-top .brand {font-weight: bold; color: #000; @include text-shadow(0 1px 0 rgba(255,255,255,.1), 0 0 30px rgba(255, 255, 255, .125));}
.icon-facebook {background: image_url('facebook.png');}
.icon-twitter {background: image_url('twitter.png');}
.icon-google {background: image_url('google.png');}
.icon-vkontakte {background: image_url('vkontakte.png');}
.big-fields input {width: 360px; height: 38px; @include border-radius(10px); padding-left: 10px; font-size: 25px;}
.big-fields label {margin-left: 10px;}
.centered {text-align: center;}
.icon-pretty-check {background: image_url('check.png');}
