<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <title>Neday</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header class='main'>
    <nav>
      <div class='overlay'></div>
      <ul>
        <li class='active'><a href='#'>Главная</a></li>
        <li><a href='#'>События</a></li>
        <li><a href='#'>Оппоненты</a></li>
        <li><a href='#'>Турниры</a></li>
        <li><a href='#'>Команды</a></li>
      </ul>
    </nav>
  </header>
  <section class='main clear'>
    <section class='side'>
      <section class='bordered'>
        <header>
          <h3>Мое Пространство</h3>
        </header>
        <nav>
          <ul>
            <li class='active'>
              <a href='#'>Профайл</a>
            </li>
            <li>
              <a href='#'>События</a>
            </li>
            <li>
              <a href='#'>Турниры</a>
            </li>
            <li>
              <a href='#'>Регистриция</a>
            </li>
            <li>
              <a href='#'>Войти</a>
            </li>
          </ul>
        </nav>
      </section>
    </section>
    <%= yield %>
    <section class='side right'>
      <section class='bordered'>
        <header>
          <h3>Последние События</h3>
        </header>
        <nav>
          <ul>
            <li>
              <small>12/01/01</small>
              <a href='#'>Футбол.&nbsp;Стадион&nbsp;"Динамо"</a>
            </li>
            <li>
              <small>12/01/01</small>
              <a href='#'>Футбол.&nbsp;Стадион&nbsp;"Динамо"</a>
            </li>
            <li>
              <small>12/01/01</small>
              <a href='#'>Футбол.&nbsp;Стадион&nbsp;"Динамо"</a>
            </li>
            <li>
              <a href='#'>Еще...</a>
            </li>
          </ul>
        </nav>
      </section>
      <section class='bordered'>
        <header>
          <h3>Новые Команды</h3>
        </header>
        <nav>
          <ul>
            <li>
              <small>Футбол</small>
              <a href='#'>Название команды</a>
            </li>
            <li>
              <small>Волейбол</small>
              <a href='#'>Название команды</a>
            </li>
            <li>
              <small>Теннис</small>
              <a href='#'>Название команды</a>
            </li>
            <li>
              <a href='#'>Еще...</a>
            </li>
          </ul>
        </nav>
      </section>
      <section class='bordered'>
        <header>
          <h3>Новые Турниры</h3>
        </header>
        <nav>
          <ul>
            <li>
              <small>Футбол</small>
              <a href='#'>Название турнира</a>
            </li>
            <li>
              <small>Волейбол</small>
              <a href='#'>Название турнира</a>
            </li>
            <li>
              <small>Теннис</small>
              <a href='#'>Название турнира</a>
            </li>
            <li>
              <a href='#'>Еще...</a>
            </li>
          </ul>
        </nav>
      </section>
    </section>
  </section>
  <div class='clear'></div>
  <footer class='main'>
    <p>Copyright © 2012, Neday</p>
  </footer>
</body>
</html>